@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fonts */

  h1,
  h2,
  h3,
  .navtext {
    @apply font-display uppercase;
  }

  .navtext-footer {
    @apply text-brown-50 text-xsmall;
  }

  h1 {
    @apply text-xxlarge;
  }

  h2 {
    @apply text-xlarge;
  }

  h3 {
    @apply text-large;
  }

  h4,
  p,
  li,
  label {
    @apply font-standard;
  }

  h4 {
    @apply text-medium;
  }

  p {
    @apply text-small;
  }
  .button {
    @apply font-display;
  }

  /* Spacing */

  .section-desktop {
    @apply pl-section-horizontal pr-section-horizontal pb-section-vertical;
  }

  .section-mobile {
    @apply pl-m-section-horizontal pr-m-section-horizontal pt-m-section-vertical pb-m-section-vertical;
  }

  /* Forms */

  input {
    @apply bg-green-100 rounded-rounded p-2 font-standard text-green-950;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-green-800;
  }

  input:focus,
  input:checked,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  .kasse input {
    @apply bg-brown-200 text-brown-950;
  }

  .kasse input::placeholder,
  .kasse textarea::placeholder {
    @apply text-brown-500;
  }

  .kasse input[type="checkbox"]:checked {
    @apply bg-brown-950;
  }

  select {
    @apply bg-brown-50 p-3 rounded-rounded font-standard text-xsmall;
  }

  select > option {
    @apply bg-brown-50 p-3 rounded-rounded font-standard;
  }

  /* Animations */

  .fade-up {
    animation-name: fade-up;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
  }
  @keyframes fade-up {
    from {
      transform: translateY(5%);
      opacity: 0;
    }

    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .scale-animation:hover {
    animation-name: scale;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  @keyframes scale {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.05);
    }
  }
}
