---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card1 from "../components/Card-1.astro";
import Card2 from "../components/Card-2.astro";
import Card3 from "../components/Card-3.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import magasiner from "../assets/images/shop/magasinetnaturen-2magasiner.webp";
---

<MainLayout title="Titel">
  <section class="m-10 flex flex-col gap-10 items-center">
    <h1>NYESTE HISTORIER</h1>
    <div>
      <div class="flex flex-col lg:flex-row gap-10">
        <Card1
          cardimage='/artikler/stor-kaerguldsmed-magasinet-naturen.webp"'
          tema="Fauna"
          temakortvariant="fauna"
          titel="ÅKANDE-KÆRGULDSMED FUNDET PÅ FALSTER"
        />

        <Card1
          cardimage="/artikler/mosaik-fjerkoelle-svamp-foto-thomas-laessoee.webp"
          tema="Geologi"
          temakortvariant="geologi"
          titel="MOSAIK-FJERKØLLE FUNDET I VEJLE ÅDAL"
        />

        <Card1
          cardimage="/artikler/konkurrence.webp"
          tema="Konkurrence"
          temakortvariant="konkurrence"
          titel="FOTOKONKURRENCE: DEL DIT BEDSTE NATURØJEBLIK"
        />
      </div>
    </div>
  </section>

  <section
    class="sektion-2 flex flex-col items-center lg:grid lg:grid-cols-4 lg:grid-rows-4 gap-5"
  >
    <div
      class="sektion-2-div lg:col-start-1 lg:col-span-4 lg:row-start-2 lg:row-span-2 bg-green-500"
    >
    </div>
    <div
      class="flex flex-col gap-2 col-start-1 col-span-2 row-start-2 row-span-2 m-10 lg:pl-10"
    >
      <h2 class="uppercase">Velkommen til magasinet naturen</h2>
      <h4>Nyt magasin med indsigt og viden om Danmarks vilde natur</h4>
      <p>
        Magasinet Naturen er et naturfagligt magasin dedikeret til at udforske
        og formidle den seneste forskning inden for dansk naturs flora og fauna,
        geologi og økologi. Artiklerne skrives af landets førende
        naturskribenter, og udkommer fysisk hvert halve år.
      </p>
      <div class="self-center lg:self-start">
        <Button>Læs mere om os</Button>
      </div>
    </div>
    <Image
      alt="Magasinet Naturen to magasiner"
      src={magasiner}
      class="w-4/5 justify-self-end self-center col-start-3 col-span-2 row-start-1 row-span-4"
    />
  </section>

  <section class="flex flex-col gap-5 p-20 lg:ml-10 lg:mr-10">
    <div class="text-center lg:text-left">
      <h2>Læs også</h2>
      <h3>Fulde artikler kun for abonnenter</h3>
    </div>
    <div
      class="flex flex-col lg:flex-row lg:justify-between gap-5 items-center"
    >
      <Card2
        cardimage="/images/artikler/suppeskildpadde-1024x576.webp"
        tema="Fauna"
        temakortvariant="fauna"
        titel="Rundt om dyret: Suppeskildpaddens biologi"
        underrubrik="Suppeskildpadden er en havskildpadde. Den kaldes også grøn havskildpadde og dens videnskabelige navn er Chelonia mydas."
      />
      <Card2
        cardimage="/images/artikler/artikel-vandplante.webp"
        tema="Flora"
        temakortvariant="flora"
        titel="Sjælden vandplante fundet i Gentofte Sø"
        underrubrik="I Danmark har man fundet fossile spor af Stor najade, men i nyere tid er der kun registreret få lokaliteter med den sjældne vandplante."
      />
      <Card2
        cardimage="/images/artikler/artikel-ørn.webp"
        tema="Fauna"
        temakortvariant="fauna"
        titel="Havørneunger på Vestbornholm"
        underrubrik="Havørnen forsvandt som dansk ynglefugl for godt hundrede år  siden. Arten kom først for alvor  på listen over danske ynglefugle igen i 1996."
      />
      <!-- <Card2
        cardimage="src/assets/images/artikler/hvaler-i-havet-omkring-danmark-magasinet-naturen-768x432.webp"
        tema="Fauna"
        temakortvariant="fauna"
        titel="Hvaler i havet omkring Danmark"
        underrubrik="Årligt er der meldinger om hvaler i danske farvande, der ikke tilhører de vanlige tre: marsvin, hvidnæse og vågehval."
      /> -->
    </div>
  </section>

  <section class="flex flex-col p-20 bg-green-500 items-center gap-5">
    <div class="text-center lg:w-3/5">
      <h1>Skal du have det hele med?</h1>
      <h3 class="pt-3">
        Bliv abonnent og få 200 siders aktuel viden om Danmarks unikke natur -
        kun for 295 kr. om året
      </h3>
    </div>
    <div>
      <Button>LÆS MERE OM ABONNEMENT</Button>
    </div>
  </section>

  <section class="flex flex-col p-20 gap-5">
    <div>
      <h2>Nyheder i shoppen</h2>
      <h3>Støt vores arbejde med flotte ting til hjemmet og til hjernen.</h3>
    </div>
    <div class="flex flex-col lg:flex-row gap-5 justify-between items-center">
      <Card3
        cardimage="/images/shop/plakat.webp"
        titel="Magasinet Naturen plakat"
        pris="250 Kr."
      />
      <Card3
        cardimage="/images/shop/noctuidae-europaeae-essential-bog-shop.webp"
        titel="Top, Fritsch, Kononenko: Noctuidae Europaeae Essential"
        pris="1.450 Kr."
      />
      <Card3
        cardimage="/images/shop/t-shirt-froe.webp"
        titel="T-SHIRT - GRØNBROGET TUDSE"
        pris="299 Kr."
      />
      <Card3
        cardimage="/images/shop/danske-dagsommerfugle-michael-stoltze-bog.webp"
        titel="Michael Stoltze: Danske Dagsommerfugle"
        pris="450 Kr."
      />
    </div>
    <div class="self-end">
      <Button>TIL SHOPPEN</Button>
    </div>
  </section>
</MainLayout>

<style>
  @media screen and (max-width: 1024px) {
    .sektion-2 {
      background-color: #c8ff85;
    }
    .sektion-2-div {
      display: none;
    }
  }
</style>
