---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card1 from "../components/Card-1.astro";
import Card2 from "../components/Card-2.astro";
import Card3 from "../components/Card-3.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import magasiner from "/public/images/shop/magasinetnaturen-2magasiner.webp";
import taleboble from "/public/images/graphics/taleboble.svg";
---

<MainLayout title="Magasinet Naturen">
  <div
    class="fixed w-[17rem] top-[5rem] right-0 grid grid-cols-3 grid-rows-2 p-small z-10"
  >
    <div
      class="col-start-1 col-span-2 row-start-1 row-span-2 w-40 ml-12 items-end grid grid-cols-1 grid-rows-1"
      id="taleboble"
    >
      <Image
        alt="Taleboble"
        src={taleboble}
        class="w-56 h-full col-start-1 row-start-1"
      />
      <p class="col-start-1 row-start-1 self-center pl-3 pr-3">
        Psst! Bliv abonnent for kun 295,- om året: <Link href="/shop"
          >Klik her!</Link
        >
      </p>
    </div>
    <div
      class="col-start-3 col-span-1 row-start-2 row-span-1 w-10 bille ml-12 mt-2 cursor-pointer"
      id="klikbille"
    >
    </div>
  </div>

  <section
    class="section-mobile lg:section-desktop flex flex-col gap-7 justify-center pt-medium relative"
  >
    <div class="flex self-center">
      <h1 class="">NYESTE HISTORIER</h1>
    </div>

    <div class="flex flex-wrap gap-medium justify-center">
      <Card1
        cardimage="/images/artikler/stor-kaerguldsmed-magasinet-naturen.webp"
        cardimagealt="Billede af stor kærguldsmed"
        tema="Fauna"
        temakortvariant="fauna"
        titel="ÅKANDE-KÆRGULDSMED FUNDET PÅ FALSTER"
      />

      <Card1
        cardimage="/images/artikler/mosaik-fjerkoelle-svamp-foto-thomas-laessoee.webp"
        cardimagealt="Billede af mosaik fjerkølle"
        tema="Geologi"
        temakortvariant="geologi"
        titel="MOSAIK-FJERKØLLE FUNDET I VEJLE ÅDAL"
      />

      <Card1
        cardimage="/images/artikler/konkurrence.webp"
        cardimagealt="Billede af bi på en plante"
        tema="Konkurrence"
        temakortvariant="konkurrence"
        titel="FOTOKONKURRENCE: DEL DIT BEDSTE NATURØJEBLIK"
      />
    </div>
  </section>

  <section
    class="sektion-2 flex flex-col items-center lg:grid lg:grid-cols-4 lg:grid-rows-4 gap-small fade"
  >
    <div
      class="lg:col-start-1 lg:col-span-4 lg:row-start-2 lg:row-span-2 bg-green-500 h-full"
    >
    </div>
    <div
      class="flex flex-col gap-small col-start-1 col-span-3 row-start-2 row-span-2 section-mobile lg:section-desktop pt-medium"
    >
      <h2 class="uppercase">Velkommen til magasinet naturen</h2>
      <h4>Nyt magasin med indsigt og viden om Danmarks vilde natur</h4>
      <p>
        Magasinet Naturen er et naturfagligt magasin dedikeret til at udforske
        og formidle den seneste forskning inden for dansk naturs flora og fauna,
        geologi og økologi. Artiklerne skrives af landets førende
        naturskribenter, og udkommer fysisk hvert halve år.
      </p>
      <div class="self-center lg:self-start">
        <Button><a href="/om-os">LÆS MERE OM OS</a></Button>
      </div>
    </div>
    <Image
      alt="Magasinet Naturen to magasiner"
      src={magasiner}
      class="w-4/5 justify-self-end self-center col-start-3 col-span-2 row-start-1 row-span-4 lg:pr-large"
    />
  </section>

  <section
    class="flex flex-col gap-small section-mobile lg:section-desktop pt-medium lg:pt-0"
  >
    <div class="lg:text-left">
      <h2>Læs også</h2>
      <h3>Fulde artikler kun for abonnenter</h3>
    </div>
    <div class="flex flex-wrap lg:justify-between gap-medium justify-center">
      <Card2
        cardimage="/images/artikler/suppeskildpadde-1024x576.webp"
        cardimagealt="Billede af kvinde der holder en suppeskildpadde"
        tema="Fauna"
        temakortvariant="fauna"
        titel="Rundt om dyret: Suppeskildpaddens biologi"
        underrubrik="Suppeskildpadden er en havskildpadde. Den kaldes også grøn havskildpadde og dens videnskabelige navn er Chelonia mydas."
      />
      <Card2
        cardimage="/images/artikler/artikel-vandplante.webp"
        cardimagealt="Billede af en vandplante"
        tema="Flora"
        temakortvariant="flora"
        titel="Sjælden vandplante fundet i Gentofte Sø"
        underrubrik="I Danmark har man fundet fossile spor af Stor najade, men i nyere tid er der kun registreret få lokaliteter med den sjældne vandplante."
      />
      <Card2
        cardimage="/images/artikler/artikel-ørn.webp"
        cardimagealt="Billede af en havørn"
        tema="Fauna"
        temakortvariant="fauna"
        titel="Havørneunger på Vestbornholm"
        underrubrik="Havørnen forsvandt som dansk ynglefugl for godt hundrede år  siden. Arten kom først for alvor  på listen over danske ynglefugle igen i 1996."
      />
      <!-- <Card2
        cardimage="src/assets/images/artikler/hvaler-i-havet-omkring-danmark-magasinet-naturen-768x432.webp"
        tema="Fauna"
        temakortvariant="fauna"
        titel="Hvaler i havet omkring Danmark"
        underrubrik="Årligt er der meldinger om hvaler i danske farvande, der ikke tilhører de vanlige tre: marsvin, hvidnæse og vågehval."
      /> -->
    </div>
  </section>

  <section
    class="flex flex-col section-mobile lg:section-desktop bg-green-500 items-center gap-medium fade pt-medium"
  >
    <div class="text-center lg:w-3/5">
      <h1>Skal du have det hele med?</h1>
      <h3 class="pt-3">
        Bliv abonnent og få 200 siders aktuel viden om Danmarks unikke natur -
        kun for 295 kr. om året
      </h3>
    </div>
    <div>
      <Button>LÆS MERE OM ABONNEMENT</Button>
    </div>
  </section>

  <section
    class="flex flex-col gap-medium section-mobile lg:section-desktop pt-medium"
  >
    <div>
      <h2>Nyheder i shoppen</h2>
      <h3>Støt vores arbejde med flotte ting til hjemmet og til hjernen.</h3>
    </div>
    <div
      class="flex flex-wrap gap-small justify-center lg:justify-between items-center"
    >
      <Card3
        cardimage="/images/shop/plakat.webp"
        cardimagealt="Billede af Magasinet Naturen plakat"
        titel="Magasinet Naturen plakat"
        pris="250 kr."
      />
      <Card3
        cardimage="/images/shop/noctuidae-europaeae-essential-bog-shop.webp"
        cardimagealt="Billede af Noctuidae Europaeae Essential bog"
        titel="Top, Fritsch, Kononenko: Noctuidae Europaeae Essential"
        pris="1.450 kr."
        gammelpris="1.495,00 kr."
        tilbud="Tilbud"
        variant="primary"
      />
      <Card3
        cardimage="/images/shop/t-shirt-froe.webp"
        cardimagealt="Billede af t-shirt med motiv af en grønbroget tudse"
        titel="Magasinet Naturen T-shirt: GRØNBROGET TUDSE"
        pris="299 kr."
      />
      <Card3
        cardimage="/images/shop/danske-dagsommerfugle-michael-stoltze-bog.webp"
        cardimagealt="Billede af Danske Dagsommerfugle bog"
        titel="Stoltze: Danske Dagsommerfugle"
        pris="450 kr."
        tilbud="Tilbud"
        variant="primary"
        gammelpris="495 kr."
      />
    </div>
    <div class="self-end">
      <Button>TIL SHOPPEN</Button>
    </div>
  </section>
</MainLayout>

<style>
  @media screen and (max-width: 1024px) {
    .sektion-2 {
      background-color: #c8ff85;
    }
    .sektion-2-div {
      display: none;
    }
  }
</style>

<script>
  /* Import af Motion One biblioteket */
  import { animate, stagger, inView, scroll, timeline } from "motion";

  inView(".fade", () => {
    animate(".fade", { y: [50, 0], opacity: [0, 1] }, { duration: 1.5 });
  });

  window.onload = function () {
    const bille = document.getElementById("klikbille");
    bille.addEventListener("mouseover", hover);
    bille.addEventListener("mouseout", stop);

    function hover() {
      console.log(bille);
      bille.classList.add("bille-hover");
      bille.addEventListener("click", flyv);

      function flyv() {
        const taleboble = document.getElementById("taleboble");

        bille.classList.remove("bille-hover");
        bille.classList.add("bille-flyv");
        taleboble.classList.add("bobleud");
        // bille.classList.add("bille-hover");
      }
    }

    function stop() {
      bille.classList.remove("bille-hover");
    }
  };
</script>
