---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import lup from "../assets/images/grafikker/lup.svg";
import magasinetnaturen1 from "../assets/images/shop/magasinetnaturen-1.webp";
import magasinetnaturen2 from "../assets/images/shop/magasinetnaturen-2magasiner.webp";
import magasinetnaturen3 from "../assets/images/shop/magasinetnaturen-5magasiner.webp";
import bognoctuidae from "../assets/images/shop/noctuidae-europaeae-essential-bog-shop.webp";
import plakat from "../assets/images/shop/plakat.webp";
import tshirtfroe from "../assets/images/shop/t-shirt-froe.webp";
import tshirtloevetand from "../assets/images/shop/t-shirt-loevetandspinder.webp";
import tshirtsildehaj from "../assets/images/shop/t-shirt-sildehaj.webp";
import tshirtstenvender from "../assets/images/shop/t-shirt-stenvender.webp";
import Card3 from "../components/Card-3.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Shop">
  <section class="flex flex-col gap-5">
    <div class="flex flex-col gap-2 section-mobile lg:section-desktop">
      <h1>Shop</h1>
      <h3>
        Her kan du tegne abonnement på Magasinet Naturen, eller gå på opdagelse
        i vores mange andre produkter.
      </h3>
      <p>
        Tak fordi du støtter op om vores arbejde, og deler vores glæde ved den
        vilde danske natur!
      </p>
      <p class="text-xsmall">
        Er du i tvivl om, hvordan du tegner abonnement på Magasinet Naturen, så
        kan du finde hjælp i denne lille vejledning.
      </p>
    </div>

    <div
      class="flex flex-col gap-5 section-mobile lg:section-desktop bg-brown-200"
    >
      <h2>Abonnement på Magasinet Naturen</h2>
      <div class="flex gap-10 flex-wrap justify-center">
        <Card3
          cardimage="/images/shop/magasinetnaturen-1.webp"
          titel="Michael Stoltze: Danske Dagsommerfugle"
          pris="450 Kr."
        />
        <Card3
          cardimage="/images/shop/magasinetnaturen-2magasiner.webp"
          titel="Michael Stoltze: Danske Dagsommerfugle"
          pris="450 Kr."
        />
        <Card3
          cardimage="/images/shop/magasinetnaturen-5magasiner.webp"
          titel="Michael Stoltze: Danske Dagsommerfugle"
          pris="450 Kr."
        />
      </div>
    </div>

    <div class="flex flex-col gap-5 section-mobile lg:section-desktop">
      <div class="flex flex-col">
        <h2>Andre produkter</h2>
        <h3>
          Støt vores arbejde med flotte tillæg til væggen, garderoben eller
          bogreolen
        </h3>
      </div>
      <div class="flex gap-10 flex-wrap justify-center">
        <div
          class="flex flex-col rounded-rounded p-10 bg-brown-200 drop-shadow gap-5"
        >
          <div class="flex flex-col">
            <h3>Søg</h3>
            <div class="flex">
              <input
                type="text"
                class="bg-brown-50 rounded-l-rounded rounded-r-none"
              /><button class="bg-brown-50 p-2 rounded-r-rounded"
                ><Image
                  alt="Magasinet Naturen logo"
                  src={lup}
                  class="w-4 fill-brown-800"
                /></button
              >
            </div>
          </div><div class="flex flex-col gap-2">
            <h3>Sortér</h3>
            <div class="flex flex-col">
              <label for="produkter">Produktkategori</label>

              <select name="produkter">
                <option value="tøj">Tøj</option>
                <option value="dekoration">Dekoration</option>
                <option value="bøger">Bøger</option>
              </select>
            </div>
            <div class="flex flex-col">
              <label for="sortering">Sorteringsmuligheder</label>

              <select name="sortering">
                <option value="pris1">Pris - Højest til lavest</option>
                <option value="pris2">Pris - Lavest til højest</option>
                <option value="tilbud">Tilbud</option>
              </select>
            </div>
          </div>
        </div>
        <Card3
          cardimage="/images/shop/danske-dagsommerfugle-michael-stoltze-bog.webp"
          titel="Michael Stoltze: Danske Dagsommerfugle"
          pris="450 Kr."
        />
        <Card3
          cardimage="/images/shop/danske-dagsommerfugle-michael-stoltze-bog.webp"
          titel="Michael Stoltze: Danske Dagsommerfugle"
          pris="450 Kr."
        />
        <Card3
          cardimage="/images/shop/danske-dagsommerfugle-michael-stoltze-bog.webp"
          titel="Michael Stoltze: Danske Dagsommerfugle"
          pris="450 Kr."
        />
        <Card3
          cardimage="/images/shop/danske-dagsommerfugle-michael-stoltze-bog.webp"
          titel="Michael Stoltze: Danske Dagsommerfugle"
          pris="450 Kr."
        />
        <Card3
          cardimage="/images/shop/danske-dagsommerfugle-michael-stoltze-bog.webp"
          titel="Michael Stoltze: Danske Dagsommerfugle"
          pris="450 Kr."
        />
      </div>
    </div>
  </section>
</MainLayout>
