---
import MainLayout from "../layouts/MainLayout.astro";
import lup from "../assets/images/grafikker/lup.svg";
import Card3 from "../components/Card-3.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Shop">
  <section class="flex flex-col gap-medium">
    <div
      class="flex flex-col gap-small section-mobile lg:section-desktop pt-medium"
    >
      <h1>Shop</h1>
      <h3>
        Her kan du tegne abonnement på Magasinet Naturen, eller gå på opdagelse
        i vores mange andre produkter.
      </h3>
      <p>
        Tak fordi du støtter op om vores arbejde, og deler vores glæde ved den
        vilde danske natur!
      </p>
      <p class="text-xsmall">
        Er du i tvivl om, hvordan du tegner abonnement på Magasinet Naturen, så
        kan du finde hjælp i denne lille vejledning.
      </p>
    </div>

    <div
      class="flex flex-col gap-small pt-medium section-mobile lg:section-desktop bg-green-500"
    >
      <h2 class="self-center text-center">Abonnement på Magasinet Naturen</h2>
      <div class="flex flex-wrap justify-center gap-small">
        <Card3
          cardimage="/images/shop/magasinetnaturen-1.webp"
          cardimagealt="Billede af Magasinet Naturen nr. 1"
          titel="Magasinet Naturen nr. 1"
          pris="175 kr."
          tilbud=""
          variant="secondary"
        />
        <Card3
          cardimage="/images/shop/magasiner-2.webp"
          cardimagealt="Billede af to udgaver af Magasinet Naturen"
          titel="Magasinet Naturen abonnement, 1 år (2 udgivelser)"
          pris="295,00 kr. / år"
          tilbud=""
          url="/produkt"
        />
        <Card3
          cardimage="/images/shop/magasinetnaturen-5magasiner.webp"
          cardimagealt="Billede af fem udgaver af Magasinet Naturen"
          titel="5 x Magasinet Naturen abonnement"
          pris="1.395,00 kr. / år"
          tilbud="5 for 4 abonnementers pris"
          variant="primary"
        />
      </div>
    </div>

    <div class="flex flex-col gap-medium section-mobile lg:section-desktop">
      <div class="flex flex-col justify-center">
        <h2>Andre produkter</h2>
        <h3>
          Støt vores arbejde med flotte tillæg til væggen, garderoben eller
          bogreolen
        </h3>
      </div>
      <div class="flex flex-wrap justify-between gap-small">
        <div
          class="flex flex-col rounded-rounded p-7 w-64 bg-brown-200 drop-shadow gap-medium"
        >
          <div class="flex flex-col">
            <h3>Søg</h3>
            <div class="flex w-fill">
              <input
                type="text"
                class="bg-brown-50 rounded-l-rounded rounded-r-none w-44"
              /><button class="bg-brown-50 p-2 rounded-r-rounded"
                ><Image
                  alt="Grafik af lup"
                  src={lup}
                  class="w-4 fill-brown-800"
                /></button
              >
            </div>
          </div>
          <div class="flex flex-col gap-small">
            <h3>Sortér</h3>
            <div class="flex flex-col">
              <label for="produkter">Produktkategori</label>

              <select name="produkter">
                <option value="tøj">Tøj</option>
                <option value="dekoration">Dekoration</option>
                <option value="bøger">Bøger</option>
              </select>
            </div>
            <div class="flex flex-col">
              <label for="sortering">Sorteringsmuligheder</label>

              <select name="sortering">
                <option value="pris1">Pris - Højest til lavest</option>
                <option value="pris2">Pris - Lavest til højest</option>
                <option value="tilbud">Tilbud</option>
              </select>
            </div>
          </div>
        </div>
        <Card3
          cardimage="/images/shop/danske-dagsommerfugle-michael-stoltze-bog.webp"
          cardimagealt="Billede af Danske Dagsommerfugle bog"
          titel="Stoltze: Danske Dagsommerfugle"
          pris="450 Kr."
          tilbud="Tilbud"
          variant="primary"
          gammelpris="495 kr."
        />
        <Card3
          cardimage="/images/shop/plakat.webp"
          cardimagealt="Billede af Magasinet Naturen plakat"
          titel="Magasinet Naturen plakat"
          pris="250 kr."
        />
        <Card3
          cardimage="/images/shop/noctuidae-europaeae-essential-bog-shop.webp"
          cardimagealt="Billede af Noctuidae Europaeae Essential bog"
          titel="Top, Fritsch, Kononenko: Noctuidae Europaeae Essential"
          pris="1.450,00 kr."
          gammelpris="1.495,00 kr."
          tilbud="Tilbud"
          variant="primary"
        />
        <Card3
          cardimage="/images/shop/t-shirt-froe.webp"
          cardimagealt="Billede af t-shirt med motiv af grønbroget tudse"
          titel="Magasinet Naturen T-shirt: Grønbroget tudse"
          pris="299 kr."
        />

        <Card3
          cardimage="/images/shop/t-shirt-loevetandspinder.webp"
          cardimagealt="Billede af t-shirt med motiv af løvetandspinder"
          titel="Magasinet Naturen T-shirt: Løvetandspinder"
          pris="299 kr."
        />
        <Card3
          cardimage="/images/shop/t-shirt-stenvender.webp"
          cardimagealt="Billede af t-shirt med motiv af stenvender"
          titel="Magasinet Naturen T-shirt: Stenvender"
          pris="299 kr."
        />
        <Card3
          cardimage="/images/shop/t-shirt-sildehaj.webp"
          cardimagealt="Billede af t-shirt med motiv af sildehaj"
          titel="Magasinet Naturen T-shirt: Sildehaj"
          pris="299 kr."
        />
      </div>
    </div>
  </section>
</MainLayout>

<!-- <script>
  var container = document.querySelectorAll("container");

  container.forEach((element) => {
    const tilbudscontainer = element.getElementById("tilbudscontainer");
    const tilbudstekst = element.getElementById("tilbudstekst");

    if (tilbudstekst.textContent.trim() === "") {
      console.log("The element is empty.");
      tilbudscontainer.style.display = "none";
    } else {
      console.log("The element is not empty.");
      tilbudscontainer.style.display = "block";
    }
  });
</script> -->
