---
import { Image } from "astro:assets";
import Temakort from "./Temakort.astro";
import Button from "./Button.astro";

const {
  cardimage = "",
  cardimagealt = "",

  titel = "",
  pris = "",
} = Astro.props;
---

<article
  class="grid grid-rows-5 grid-cols-2 rounded-rounded w-64 h-fit shadow-drop25"
>
  <img
    src={cardimage}
    alt={cardimagealt}
    class="row-start-1 col-start-1 row-span-3 col-span-2 object-cover w-full h-full rounded-t-rounded"
  />
  <div
    class="flex flex-col justify-between bg-brown-50 row-start-4 row-span-2 col-start-1 col-span-2 p-3 rounded-b-rounded"
  >
    <div class="flex flex-col gap-2">
      <h3 class="self-center text-medium">
        {titel}
      </h3>
      <h4 class="text-small">{pris}</h4>
    </div><div class="self-end">
      <Button variant="primary">SE VARE</Button>
    </div>
  </div>
</article>
