---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self" } = Astro.props;
---

<a
  href={href}
  target={target}
  class="hover:hover:transition duration-300 hover:bg-green-500"
>
  <slot />
</a>
